<html>
  <body>
    {{#with transaction}}
    <h1>Hvordan var din oplevelse med {{listing.title}}? </h1>

    <p>Du har fornyligt booket {{listing.title}} fra {{provider.display-name}}. Nu har du mulighed for at skrive en anmeldelse og fortælle om din oplevelse. Anmeldelser er særligt vigtige hos {{marketplace.name}} </p>

    <p><a href="{{marketplace.url}}/order/{{url-encode id}}/details">Skriv en anmeldese</a></p>
    {{/with}}

    <hr />
    <p>Du modtager denne email, grundet du har en bod listet hos{{marketplace.name}}. Hvis du ikke længere ønsker at modtage disse emails, venligst kontakt {{marketplace.name}} teamet.</p>
  </body>
</html>