
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>Din booking anmodning er desværre udløbet</h1>

    {{#with transaction}}
    <p>Desværre har {{provider.display-name}} ikke besvaret din booking anmodning angående {{listing.title}} fra {{> format-date date=booking.start}} til {{> format-date date=booking.end}} i tide, så anmodningen er udløbet. </p>
    {{/with}}

    <p> Dette er vi meget ærgerlige over hos Catery, og vi vil dermed tage kontakt til {{listing.title}} </p>
    <p><a href="{{marketplace.url}}">Det er stadigt muligt at booke andre madboder her</a></p>

    <hr />

    <p>Du modtager denne email, grundet du har en bod listet hos{{marketplace.name}}. Hvis du ikke længere ønsker at modtage disse emails, venligst kontakt {{marketplace.name}} teamet.</p>
  </body>
</html>