
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY"}}
{{~/inline~}}

<html>
  <body>
    {{#with transaction}}
    <h1>Ny booking anmodning af {{customer.display-name}}</h1>

    <p>Gode nyheder! {{customer.display-name}} har anmodet om at booke {{listing.title}} fra {{> format-date date=booking.start}} til {{> format-date date=booking.end}}. </p>

    

    <p>Du bedes acceptere booking anmodningen inden {{> format-date date=delayed-transition.run-at}}. Ellers vil booking anmodningen udløbe. Hvis bookingen ikke kan ske grundet dato eller andet, har du mulighed for at annulere bookingen.</p>

    <p><a href="{{marketplace.url}}/sale/{{url-encode id}}/details">Accepter eller annuler bookingen her</a></p>

    {{/with}}

    <hr />

    <p>Du modtager denne email, grundet du har en bod listet hos{{marketplace.name}}. Hvis du ikke længere ønsker at modtage disse emails, venligst kontakt {{marketplace.name}} teamet.</p>
  </body>
</html>
