
{{~#*inline "format-money"~}}
{{money-amount money}} {{money.currency}}
{{~/inline~}}

{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY"}}
{{~/inline~}}

<html>
  <body>
    <h1>Din booking anmodning er blevet accepteret!</h1>

    {{#with transaction}}
    <p>{{provider.display-name}} har accepteret din booking anmodning angående {{listing.title}} fra {{> format-date date=booking.start}} til {{> format-date date=booking.end}}.</p>

    <p>Du har nu mulighed for at skrive yderligere til {{provider.display-name}} angående din booking <a href="{{marketplace.url}}/order/{{url-encode id}}/details">her</a></p> 



    {{/with}}

    <hr />

    <p>Du modtager denne email, grundet du har en bod listet hos{{marketplace.name}}. Hvis du ikke længere ønsker at modtage disse emails, venligst kontakt {{marketplace.name}} teamet.</p>
  </body>
</html>
