
{{~#*inline "format-date"~}}
{{date date format="MMM d, YYYY" tz="Etc/UTC"}}
{{~/inline~}}

<html>
  <body>
    <h1>Din booking blev desværre afvist</h1>

    {{#with transaction}}
    <p>uheldigvis, har {{provider.display-name}} besluttet at afvise din anmodning om at booke {{listing.title}} fra {{> format-date date=booking.start}} til {{> format-date date=booking.end}}.</p>
    {{/with}}

    <p>Du har dog stadig mulighed booke andre boder til dit event. Det kan du gøre <a href="{{marketplace.url}}"></a> her</a></p>

    <hr />

    <p>Du har modtaget denne email, grundet du er bruger af {{marketplace.name}}. Hvis du ikke længere ønsker at modtage disse emails, venligst kontakt {{marketplace.name}} teamet.</p>
  </body>
</html>